/* 移動版分界點 xl */
:root {
  --dark-color: hsl(0, 0%, 45%);
  --background-color: hsl(0, 0%, 90%);
  --info-hover-color: hsl(0, 0%, 45%);
  --card-color: hsl(0, 0%, 45%);
  --body-color: hsl(0, 0%, 90%);
  --dark-background-text-color: hsl(0, 0%, 100%);
  --background-text-color: hsl(0, 0%, 15%);
  --bs-body-color: hsl(0, 0%,0%);
  --bs-body-bg: #efe9e4;
}
* {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.gradient-background {
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #efe9e4, transparent 100%);
}
.banner-gradient-background {
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, transparent 0%, #efe9e4 70%);
}
.backdrop-blur {
  backdrop-filter: blur(7px);
  background-color: #efe9e458;
}
@media screen {
  .logo {
    height: 110px;
    padding: 0px;
  }
  .logo img {
    height: 110px;
  }
  .fs-nav {
    font-size: x-large;
  }
}
@media screen and (min-width: 992px) {
  .logo {
    height: 220px;
    padding: 0px;
  }
  .logo img {
    height: 220px;
  }
  .fs-nav {
    font-size: xx-large;
  }
}
.main_hight {
  min-height: calc(100vh - 72px);
}
.navbar {
  background-clip: padding-box !important;
}
.nav-item.active {
  padding: 14px 22px !important;
}
.vh-50 {
  height: 50vh !important;
}
.vh-70 {
  height: 70vh !important;
}
.h-footer-title {
  height: 70px;
}
.footer-content-banner {
  height: 263px;
  background-image: url("../photo/footer.webp") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 85%;
}
.bg-footer {
  background-color: #744320 !important;
}
.z-4 {
  z-index: 4;
}
.loader-background {
  animation: fadeOut 1s forwards 1s, height-0 0.1s forwards 1.5s;
}
.loader {
  background-image: url("../photo/K_banner.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.loader-animation {
  animation: slideInUp 1s forwards 0s, fadeOut 1s forwards 1s, zoomOut 1s forwards 1s, height-0 0.1s forwards 2s;
}
.Loading-animation {
  animation: height-0 2s forwards 0s;
}
@keyframes height-0 {
  0% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}
.fs-content {
  font-size: 18px;
}
.my-bg-opacity-0 {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-hover:hover {
  transition: all 0.1s linear;
}

.bg-main {
  background-color: #efe9e4;
}
.bg-main2 {
  background-color: #A79689;
  box-sizing:border-box;
}
a {
  color: #022d6f;
}
